*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-warper{
    position: fixed;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 300px;
    overflow: hidden;
    border: 1px solid black;

}

.slider{
    pos
}