*{
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color:  black;
    overscroll-behavior: none;
}

body::-webkit-scrollbar{
    display: none;
}




.container{     
    height: 100%;
    display: flex;
    align-items:flex-end;
    justify-content: right;
}

/* BOUTTON */

.buttons{
    display: flex;
    flex-direction: column;
}

.btn{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    position: relative;
    margin: 32px;
}

.btn-1{
    color: #AB5825;
}

.btn-1::after, .btn-1::before{
    border: 3px solid #AB5825;
    content: "";
    position: absolute;
    width: calc(100%-6px);
    height: calc(100%-6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.btn-1:hover::after{
    transform: translate(-5px, -5px);
}

.btn-1:hover::before{
    transform: translate(5px, 5px);
}



/* FONT PARAM */

@font-face {
    font-family: "font-1";
    src: url(./assets/fonts/Bacode-Font/Bacode\ PERSONAL\ USE\ ONLY!.ttf);
}

h1{
    font-family: "font-1";
    color: #AB5825;
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
}

