*{
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color:  black;
    overscroll-behavior: none;
    color: #AB5825;
}

/* body::-webkit-scrollbar{
    display: none;
} */

::selection{
    background-color : #AB5825;
    color: black;
}

